# 本程序依赖于两个docker镜像，其一是zUMIs以外的所有程序，其二是zUMIs（目前后者正在测试中，前者正在开发中...）
#     因此yaml文件也分为两个part，其中第一个part是必填的信息；而第二个part只有在使用zUMIs时才需要填写。

# 注释：本pipeline可以在多种情况下使用
#   1）只提供RNA-seq的fastq文件, 则程序默认运行zUMIs生成bam文件并基于bam文件进行SNP calling以得到vcf文件
#   2）提供RNA-seq的fastq文件和额外的vcf文件，则程序仅会运行运行zUMIs生成bam文件，并基于额外的vcf文件进行read separation
#   3）提供bam文件和额外的vcf文件，则程序会直接运行read separation
#   对于1) 和 2)的两种情况，则需要完善part2部分的信息

### ------------------------------------------------------- Part2 ---------------------------------------------------------------------
# 1) 基础信息 ------------------------------------
# 注释：celltype1和celltype2是指实验中细胞的类型，需要与annotation中的Sort_Population列标注保持一致
project: VCID4.0_20kcells
celltype1: Tsc
celltype2: Nalm6sc
celltype3: Nalm6-T

# 2) 程序地址 ------------------------------------
# zUMIs_directory是为调用本地的打包好的zUMIs准备的；zUMIs_container是为更进一步封装的docker容器准备的
pipeline_path: /mnt/data/user/zhouhui/VCID4.0-n.n_pipeline_folder/VCID4.0
zUMIs_directory: /mnt/nvme/home/zhouhui/zUMIs_tabix-main

# 3) 数据地址 ------------------------------------
# a.核心数据 ------------
# 注释：Differetial_SNPs_from_other_source默认为空，即直接从RNA中进行SNP calling，若有其他来源的SNP数据，则可以跳过原始的SNP calling步骤
# 注释：BAM_file_from_other_source默认为空，即基于fastq运行zUMIs，若有其他来源的bam数据，则可以跳过zUMIs步骤
Differetial_SNPs_from_other_source: /mnt/data/user/zhouhui/T_cell_dynamics_20kcells_results/SNP_calling_output/T_cell_dynamics_20kcells_CCID3.processed.vcf.gz
#Differetial_SNPs_from_other_source: 
BAM_file_from_other_source: /mnt/data/user/zhouhui/T_cell_dynamics_20kcells_results/batch1_results/T_cell_dynamics_20kcells_CCID3.filtered.Aligned.GeneTagged.UBcorrected.sorted.bam
#BAM_file_from_other_source: /mnt/data/user/zhouhui/T_cell_dynamics_20kcells_results_extracted_bam/Nalm6-T_et4R0J.bam
out_dir: /mnt/data/user/zhouhui/T_cell_dynamics_20kcells_results_batch1_readseparation

# b.metadata ------------
# 注释：Annotation信息储存了barcode list和对应的细胞类型信息（Sort_Population列）
# 注释：整一个分析文件中有三处地方需要选择barcode list,第一个是zUMIs时(需要提供文件：zUMIs_barcode_list；在原版的zUMIs yaml file中名为barcodes$barcode_file)；
#     第二个是为SNP calling准备single的bam文件时(不需要提供文件，程序会自动基于sort_population生成);
#     【可空置】第三个是做readseparation时，需要指定哪些细胞是希望被read separation的(需要提供文件：readseparation_barcode_list)，如果空置则默认所有细胞都需要read separation，则程序会直接引用之前的zUMIs_barcode_list
annotation1: 
annotation2: 
zUMIs_barcode_list1:
zUMIs_barcode_list2:
#zUMIs_barcode_list1: /mnt/data/user/zhouhui/T_cell_dynamics_20kcells_results/metadata/expected_barcodes_pool1_pool2.txt
#zUMIs_barcode_list2: /mnt/data/user/zhouhui/T_cell_dynamics_20kcells_results/metadata/expected_barcodes_pool1_pool2.txt
readseparation_barcode_list1: 
readseparation_barcode_list2: 

# c.reference data ------------
# 注释：reference中除了GTF_file外，其他的文件可以不提供
reference:
  STAR_index: /mnt/data/user/zhouhui/T_cell_dynamics_20kcells_test_data_results_CCID3.1_nodocker/resourses/STAR7idx_primary_noGTF
  GTF_file: /mnt/data/user/zhouhui/T_cell_dynamics_20kcells_test_data_results_CCID3.1_nodocker/resourses/gencode.v42.primary_assembly.annotation.nochr.rRNA.gtf
  additional_STAR_params: '--clip3pAdapterSeq CTGTCTCTTATACACATCT --limitOutSJcollapsed 3000000'
  reference_genome: /mnt/data/user/zhouhui/T_cell_dynamics_20kcells_test_data_results_CCID3.1_nodocker/resourses/hg38.primary_assembly.fa
  #reference_genome: /dev/null
  additional_files:

# 4) 运行参数 ------------------------------------
# 注释：如果有多个数据集，则需要调整Multi_batches参数，默认是1
# 在多个数据集的情况下，需要在下面的sequence_files、annotation、zUMIs_barcode_list中添加对应的文件
Multi_batches: 1
num_threads: 40



# 2) zUMIs运行参数 ------------------------------------
mem_limit: 800

# 在常规情况下，No need to modify parameters after this line
# 3) zUMIs基础参数 ------------------------------------
filter_cutoffs:
  BC_filter:
    num_bases: 5
    phred: 20
  UMI_filter:
    num_bases: 4
    phred: 20

barcodes:
  barcode_num: ~
  barcode_file:
  automatic: yes
  BarcodeBinning: 1
  demultiplex: no
  nReadsperCell: 100
  discardReads: yes
counting_opts:
  introns: yes
  downsampling: '0'
  strand: 1
  Ham_Dist: 1
  velocyto: no
  primaryHit: yes
  twoPass: no
make_stats: yes
which_Stage: Filtering
samtools_exec: samtools
pigz_exec: pigz
STAR_exec: STAR
Rscript_exec: Rscript
read_layout: PE



