# 1.通用信息 ----------------------------------------------------------- 
# 注释：此部分内容需要根据实际情况进行修改

project: T_cell_dynamics_20kcells_CCID3
celltype1: Tsc
celltype2: Nalm6sc
celltype3: Nalm6-T
out_dir: /mnt/data/user/zhouhui/T_cell_dynamics_20kcells_results
# 注释：celltype1和celltype2是指实验中细胞的类型，需要与annotation中的Sort_Population列标注保持一致
# 注释：建议可以把metadata也存放在out_dir，方便后期的分析，但不是必须的

Multi_batches: 3
# 注释：如果有多个数据集，则需要调整此参数，默认是1，
# 在多个数据集的情况下，需要在下面的sequence_files、annotation、zUMIs_barcode_list中添加对应的文件，

#Differetial_SNPs_from_other_source: /mnt/data/user/zhouhui/T_cell_dynamics_20kcells_test_data_results_CCID3.0/metadata/Tcell_dynamics.processed_External_changed_title.vcf.gz
Differetial_SNPs_from_other_source: 
# 注释：默认为空，即直接从RNA中进行SNP calling，若有其他来源的SNP数据，则可以跳过原始的SNP calling步骤

# 1) sequence_files ------------------------------------
sequence_files1:
  file1:
    name: /mnt/data/user/zhouhui/Nalm6_Tcell/combined_data/combined_fastq/combined_read_1.fastq.gz
    base_definition:
      - cDNA(25-150)
      - UMI(12-21)
    find_pattern: ATTGCGCAATG;2
  file2:
    name: /mnt/data/user/zhouhui/Nalm6_Tcell/combined_data/combined_fastq/combined_read_2_cDNA.fastq.gz
    base_definition:
      - cDNA(1-150)
  file3:
    name: /mnt/data/user/zhouhui/Nalm6_Tcell/combined_data/combined_fastq/combined_read_2_BC.fastq.gz
    base_definition:
      - BC(1-20)

sequence_files2:
  file1:
    name: /mnt/data/user/zhouhui/T_cell_dynamics_20kcells_results/pool1_fastq/pool1_read1.fq.gz
    base_definition:
      - cDNA(25-100)
      - UMI(12-21)
    find_pattern: ATTGCGCAATG;2
  file2:
    name: /mnt/data/user/zhouhui/T_cell_dynamics_20kcells_results/pool1_fastq/pool1_read2.fq.gz
    base_definition:
      - cDNA(1-100)
      - BC(101-120)

sequence_files3:
  file1:
    name: /mnt/data/user/zhouhui/T_cell_dynamics_20kcells_results/pool2_fastq/pool2_read1.fq.gz
    base_definition:
      - cDNA(25-100)
      - UMI(12-21)
    find_pattern: ATTGCGCAATG;2
  file2:
    name: /mnt/data/user/zhouhui/T_cell_dynamics_20kcells_results/pool2_fastq/pool2_read2.fq.gz
    base_definition:
      - cDNA(1-100)
      - BC(101-120)

# 2) Annotation ------------------------------------
# 注释：Annotation信息储存了barcode list和对应的细胞类型信息（Sort_Population列）
# 注释：整一个分析文件中有三处地方需要选择barcode list,第一个是zUMIs时(需要提供文件)；第二个是为SNP calling准备single的bam文件时(不需要提供文件);
# 第三个是做readseparation时，需要指定哪些细胞是希望被read separation的(需要提供文件)
annotation1: /mnt/data/user/zhouhui/T_cell_dynamics_20kcells_results/metadata/barcode_annotation_first_batch.txt
annotation2: /mnt/data/user/zhouhui/T_cell_dynamics_20kcells_results/metadata/barcode_annotation_pool1.txt
annotation3: /mnt/data/user/zhouhui/T_cell_dynamics_20kcells_results/metadata/barcode_annotation_pool2.txt

# 3) zUMIs_barcode_list ------------------------------------
zUMIs_barcode_list1: /mnt/data/user/zhouhui/T_cell_dynamics_20kcells_results/metadata/expected_barcodes_first_batch.txt
zUMIs_barcode_list2: /mnt/data/user/zhouhui/T_cell_dynamics_20kcells_results/metadata/expected_barcodes_pool1_pool2.txt
zUMIs_barcode_list3: /mnt/data/user/zhouhui/T_cell_dynamics_20kcells_results/metadata/expected_barcodes_pool1_pool2.txt

# 4) readseparation_barcode_list ------------------------------------
# 注释：此处可空置，如果空置则默认所有细胞都需要read separation，则程序会直接引用之前的zUMIs_barcode_list
readseparation_barcode_list1: 
readseparation_barcode_list2: 
readseparation_barcode_list3: 


#### ----------------------------------------------------------No need to modify parameters after this line-------------------------------------------------------------------------
# 注释：如果zUMIs和snakemake pipeline位置迁移了，则需要修改相应的路径
# ZUMIS信息 ----------------------------------------------------------- 
filter_cutoffs:
  BC_filter:
    num_bases: 5
    phred: 20
  UMI_filter:
    num_bases: 4
    phred: 20

barcodes:
  barcode_num: ~
  barcode_file:
  automatic: no
  BarcodeBinning: 1
  demultiplex: no
  nReadsperCell: 100
  discardReads: yes
counting_opts:
  introns: yes
  downsampling: '0'
  strand: 1
  Ham_Dist: 1
  velocyto: no
  primaryHit: yes
  twoPass: no
make_stats: yes
which_Stage: Filtering
samtools_exec: samtools
pigz_exec: pigz
STAR_exec: STAR
Rscript_exec: Rscript
zUMIs_directory: /mnt/data/user/zhouhui/CCID_pipeline3.0/algorithem/zUMIs_tabix-main
read_layout: PE


# 计算配置信息 ----------------------------------------------------------- 
num_threads: 30
mem_limit: 150

# snakemake pipeline 信息 ------------------------------------------------
pipeline_path: /mnt/data/user/zhouhui/CCID_pipeline3.0

# 参考基因组信息 ----------------------------------------------------------- 
# 注释：后期将这些数据打包封装即可
reference:
  STAR_index: /mnt/nvme/home/chris/resources/genomes/Human/STAR7idx_primary_noGTF
  GTF_file: /mnt/nvme/home/chris/resources/genomes/Human/gencode.v42.primary_assembly.annotation.nochr.rRNA.gtf
  additional_STAR_params: '--clip3pAdapterSeq CTGTCTCTTATACACATCT --limitOutSJcollapsed 3000000'
  reference_genome: /mnt/data/user/zhouhui/resources/hg38.primary_assembly.fa
  additional_files:

